@import "tailwindcss";
@import "nes.css/css/nes.min.css";

body {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  max-width: 1042px;
  margin: 0 auto;
  gap: 2rem;
  justify-self: center;
}

.nes-container,
.nes-balloon {
  @apply p-1! sm:p-4!;
}
